
.green {
    font-weight:        bold
    color:              green; }

 .blue {
    font-weight:        bold
    color:              blue; }

.red {
    font-weight:        bold
    color:              red; }

.orange {
    font-weight:        bold
    color:              orange; }